@font-face {
  src: url(../../fonts/Montserrat-Regular.ttf);
  font-family: monserrat;

}

.container {
  display: flex;
  justify-content: space-between;
  font-family: monserrat;
  width: 100vw;
}

.logo img {
  margin: 20px;
  width: 20vw;
}

.buttons {
  width: 21vw;
  display: flex;
  justify-content: space-around;
  margin: 10px;

}

.button1{
  background-color: #e7e7e7; 
  border: none;
  padding: 20px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

.button1 a {
  padding-top: 10px; 
  text-decoration: none;
  color: black;
}


.button2{
  background-color: #555555;; 
  color: black;
  border: none;
  padding: 20px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button2 a {
  text-decoration: none;
  color: black;
}

button{
  background-color:red; 
  color: black;
  border: none;
  padding: 20px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 16px;
}
